/yijava-parent/.settings
/yijava-parent/yijava-common/.settings
/yijava-parent/yijava-common/.classpath
/yijava-parent/yijava-common/.project
/yijava-parent/yijava-common/.gitignore
/yijava-parent/yijava-dms/.settings
/yijava-parent/yijava-dms/.classpath
/yijava-parent/yijava-dms/.gitignore
/yijava-parent/yijava-dms/.project
/yijava-parent/yijava-orm/.settings
/yijava-parent/yijava-orm/.classpath
/yijava-parent/yijava-orm/.gitignore
/yijava-parent/yijava-orm/.project
/yijava-parent/.project
