*{
	font-size:12px;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}
.menu-text a
{
	text-decoration:none ; color: #666666;
}

.logo {
	height: 60px;
	padding-left: 20px;
	background: url(../images/logo.png) no-repeat;
	_background: none; 
	
}

 #settingsWrapper
{
    
    background-color: #3B3B3B;
    padding-left: 4px;
    background-image:url(../images/index_01.gif);
    height:35px;
}
        
 #logon
{
    float: left;
    padding-left: 4px;
    text-align: left;
    clear: both;
}
#logon ul li
{
    color: #fff;
    margin-right: 8px;    
    padding-left: 10px;
}
#settings
{
    padding: 2px;    
    padding-right: 4px;
    text-align: right;
    height:25px;
}
#settingsWrapper table
{
    height: 30px;
}
#settings ul li
{
    display: inline;
    color: #fff;
    margin-right: 8px;
    line-height: 10px;
    padding: 2px;
    padding-left: 19px;
    padding-top: -5px;
}
#settings ul li a, #settings ul li a:link
{
    color: #fff;
    text-decoration: none;
}
#settings ul li a:hover
{
    text-decoration: underline;
}
#settings ul li logon
{
    text-align: left;
    padding-left: 10px;
}
#itemLogout
{
   background: url(../themes/icons/logout.png) no-repeat 0 2px;
}
#itemAddContent
{
   background: url(../themes/icons/home.png) no-repeat 0 2px;
}        
