<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System">
<!-- 用户管理 start -->
    <select id="select"  parameterType="int" resultType="dms.yijava.entity.system.SysUser">
        select id, from tb_manager_user where id= #{id}
    </select>
    <select id="selectAll"  parameterType="int" resultType="dms.yijava.entity.system.SysUser">
        select * from tb_manager_user
    </select>
    
    <insert id="insert" parameterType="dms.yijava.entity.system.SysUser">     
    	  insert into tb_manager_user (name) values(#{name})
    </insert>
   <!--  <update id="update" parameterType="dms.yijava.entity.system.SysUser">
    	update tb_manager_user set ?
    </update> -->
    <delete id="deleteByPrimaryKey" parameterType="int">
   		 delete from tb_manager_user where id= #{id} 
    </delete>
    <select id="selectByObjectcount" resultType="long">
		select count(*) from tb_manager_user		
	</select>
 	<select id="selectByObject" resultType="dms.yijava.entity.system.SysUser">
		select * from tb_manager_user limit #{offset},#{pagesize}  
	</select>
<!-- 用户管理  end -->
<!-- 角色管理 start -->
    <select id="select"  parameterType="int" resultType="dms.yijava.entity.system.">
        select id, from tb_manager_user where id= #{id}
    </select>
    <select id="selectAll"  parameterType="int" resultType="dms.yijava.entity.system.SysUser">
        select * from tb_manager_user
    </select>
    
    <insert id="insert" parameterType="dms.yijava.entity.system.SysUser">     
    	  insert into tb_manager_user (name) values(#{name})
    </insert>
   <!--  <update id="update" parameterType="dms.yijava.entity.system.SysUser">
    	update tb_manager_user set ?
    </update> -->
    <delete id="deleteByPrimaryKey" parameterType="int">
   		 delete from tb_manager_user where id= #{id} 
    </delete>
    <select id="selectByObjectcount" resultType="long">
		select count(*) from tb_manager_user		
	</select>
 	<select id="selectByObject" resultType="dms.yijava.entity.system.SysUser">
		select * from tb_manager_user limit #{offset},#{pagesize}  
	</select>
<!-- 角色管理  end -->
</mapper>